/*
	CSS Rules
	Syntax:
		selector
		{
			property: value;
		}
*/
h1
{
	color:yellow;
}

/*
	SELECTORS
	1. Universal
*/
*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*
	2. Type
*/
body
{
	background-color: skyblue;
}
/*
	3. Attribute
*/
input[required]
{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
/*
	4. Class
*/
.offering-item
{
	text-transform: uppercase;
}
/*
	5. Id
*/
#zuitt-motto
{
	letter-spacing: 10px;
}
/*
	CSS Selector Combinators
	1. Adjacent Sibling Selector

	Syntax:
		sibling_element + target_element
		{
			property: value;
		}
*/
h3 + img
{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*
	2. General Sibling Selector

	Syntax:
		sibling_element ~ target_element
		{
			property: value;
		}
*/
h2 ~ a, a
{
	text-decoration: none;
}
/*
	3. Child Selector

	Syntax:
		selector1 > selector2
		{
			style: properties;
		}
*/
body > section > form > label
{
	color: rgb(0, 0, 128);
}
/*
	4. Descendant Selector

	Syntax:

	selector1 selector2
	{
		style: properties;
	}
*/
#bootcamp-learning-list li
{
	color: #075966;
}
html
{
	scroll-behavior: smooth;
}
nav
{
	background-color: white;
}
/*
	Selector: hover pseudo class
*/
a:hover
{
	background-color: #b4d6de;
}
div
{
	display: inline-block;
	float: right;
}
section
{
	height: 100vh;
	text-align: center;
}
h2
{
	font-size: 1.5rem;
}
/*remove numbers*/
ol
{
	list-style-type: none;
}
form
{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
button
{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}
