*
{
	font-family: monospace;
	font-size: 16px;
}
#yellow
{
	color: yellow;
}
h1
{
	font-size: 40px;
}
#head2
{
	text-transform: uppercase;
}
.ol1 .list
{
	background-color: #AED0A1;
}
[alt]
{
	border: 2px solid #99B1CF;
}
img + ul
{
	list-style-type: none;
}
section img
{
	height: 90px;
	width: 90px;
	border-radius: 50%;
}
h4 ~ p
{
	text-align: center;
}
section > ul > li
{
	letter-spacing: 5px;
}
